extends layout
block sheets
      link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
      link(href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet")

block content
  nav(class="navbar navbar-expand-lg navbar-light bg-light")
    span(class ="navbar-brand" href="#")
      h3
        del SuperGood
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
      span(class="navbar-toggler-icon")
    div(class="collapse navbar-collapse" id="navbarSupportedContent")
      ul( class="navbar-nav mr-auto")
        li(class="nav-item active")
          a(class="nav-link" href="/start/home") Home
            span(class="sr-only")(current)
  div(class = "container")
    div(class = "row justify-content-between" style="height: 200px; margin-top:45px ")
      div(class = "col-sm-4")
        a(class="card" href="/start/home/soul" style="width: 18rem; height:22rem; border:none; text-decoration: none")
          img(src="/images/Soul/soul.jpg.jpg" class="card-img-top" alt="..." style="height:18rem; width: 18rem")
          div(class="card-body")
            h5(class="card-title justify-content-center" style="text-align: center; font-family: Pacifico; color: black") Soul

      div(class = "col-sm-4")
        a(class="card" href="/start/home/colgost" style="width: 18rem; height:22rem; border:none; text-decoration: none")
          img(src="/images/colourfulghost/19-min.jpg" class="card-img-top" alt="..." style="height:18rem; width: 18rem")
          div(class="card-body")
            h5(class="card-title justify-content-center" style="text-align: center; font-family: Pacifico; color: black") Colourful Ghost
block footer
      script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
      script(type="text/javascript" src="/jqueer/supergood2.js")