<% include ./partials/header %>
    <body>
	<div class ="heading1">
		<h1><del>SuperGood</del></h1>
	</div>
	<div class = "container">
		  <a href="/start/home" class="btn btn-outline-light btn-lg">Welcome</a>
	</div>
    <div class = "inline">
        <span><a href="https://www.instagram.com/supergood__/?hl=en"><i class="fab fa-instagram fa-2x"></i></a></span>
        <span><i class="fab fa-facebook-square fa-2x"></i></span>
    </div>
<% include ./partials/footer %>